body{
    background-color: darkgray;
}

.container{
    max-width: 300px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 6px;
    
}

.profile-image{
    width: 100%;
    height: auto;
}

.caption{
    text-align: center;
}